% Compiler Options for rebar
{erl_opts, [ {src_dirs, ["src", "test"]} ]}.

{deps, [
        {cowboy, "0.8.6", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.6"}}},
        {ej, "0.0.3", {git, "https://github.com/seth/ej", {tag, "0.0.3"}}},
        {etest, ".*", {git, "git://github.com/wooga/etest.git"}},
        {etest_http, "", {git, "git://github.com/wooga/etest_http.git"}},
        {jiffy, "0.8.5", {git, "https://github.com/davisp/jiffy.git", {tag, "0.8.5"}}}
       ]}.

% Which files to cleanup when rebar clean is executed.
{clean_files, ["ebin/*.beam"]}.
